.scanning-example {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.scanning-example-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.scanning-example-item {
  display: flex;
  width: 190px;
  flex-direction: column;
  gap: 0.5rem;
}

.scanning-examples {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem;
  gap: var(--a-spacing-6);
}

.scanning-guide ul {
  margin-top: 0rem;
}
